 <div class="container">

<% if current_user == @post.user %>
<%= link_to("Edit", edit_post_path(@post)) %> | 
<%= link_to("Delete", @post, method: :delete) %>
<% end %>

<div>
    <p class = "text-center"><%= image_tag(@post.image.url, class:"img-fluid") %></p>
    <p>
        <p class="text-right"><strong><%= @post.user.email %></strong></p>
        <p class="text-center"><%= @post.content %></p>
    </p>
</div>


<ul>
    <% @post.comments.each do |comment| %>
    <li>
      <b><%= comment.user.email %></b> : <%= comment.content %>
      <% if current_user == comment.user %>
     - <%= link_to "Delete", [@post, comment], method: :delete %> 
     <% end %>
    </li>
    <% end %>
</ul>

<% if user_signed_in? %>
<div>
  <%= form_for([@post, @comment]) do |f| %>
    Comment: <%= f.text_field :content,class:"form-control" %>
    <p class = "text-right"><%= f.submit "Save", class:"btn btn-success" %></p>
  <% end %>
</div>
<% end %>

</div>